<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Archiver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Archiver.Properties.Settings>
            <setting name="filefolder" serializeAs="String">
                <value>D:\ExtractFiles\YMT\YMT_Data</value>
            </setting>
            <setting name="archivefolder" serializeAs="String">
                <value>D:\ExtractFiles\YMT\Archive</value>
            </setting>
            <setting name="cleanup" serializeAs="String">
                <value>Y</value>
            </setting>
        </Archiver.Properties.Settings>
    </userSettings>
</configuration>